In [10]:
!pip install pandas-datareader  # package helps you easily fetch financial, economic, and other public data from online sources.

Requirement already satisfied: pandas-datareader in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (0.11.0.dev76+g4ff6214)
Requirement already satisfied: lxml in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas-datareader) (5.3.1)
Requirement already satisfied: pandas>=1.5.3 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas-datareader) (2.2.3)
Requirement already satisfied: requests>=2.19.0 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas-datareader) (2.32.3)
Requirement already satisfied: numpy>=1.23.2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.5.3->pandas-datareader) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.5.3->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.5.3->pandas-datareader) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.5.3->pandas-datareader) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.3->pandas-datareader) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader) (2025.1.31)

In [2]:
!pip install --upgrade pandas_datareader

Requirement already satisfied: pandas_datareader in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (0.11.0.dev76+g4ff6214)
Requirement already satisfied: lxml in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas_datareader) (5.3.1)
Requirement already satisfied: pandas>=1.5.3 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas_datareader) (2.2.3)
Requirement already satisfied: requests>=2.19.0 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: numpy>=1.23.2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.5.3->pandas_datareader) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.5.3->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.5.3->pandas_datareader) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.5.3->pandas_datareader) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.3->pandas_datareader) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (2025.1.31)

In [11]:
!pip install yfinance #downaload yahoo finance

Requirement already satisfied: yfinance in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (0.2.55)
Requirement already satisfied: pandas>=1.3.0 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (2025.1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from yfinance) (4.13.3)
Requirement already satisfied: soupsieve>1.2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jessicahong/.pyenv/versions/3.11.11/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2025.1.31)

In [12]:
#imports the data submodule from the pandas_datareader package and gives it the alias web.
import pandas_datareader.data as web

In [13]:
import pandas_datareader as pdr
import datetime as dt

In [14]:
import pandas as pd
import numpy as np
%matplotlib inline

In [15]:
#Imports the yfinance library with the alias yf.
#start = "2006-01-01" Sets the start date for data retrieval (January 1, 2006).
#end = "2016-01-01"Sets the end date for data retrieval (January 1, 2016).

import yfinance as yf
start = "2006-01-01"
end = "2016-01-01"

In [16]:
yf_data= yf.download("BAC", start=start, end=end)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BAC']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

In [28]:
print(df.head())

Price           Close       High        Low       Open    Volume
Ticker            BAC        BAC        BAC        BAC       BAC
Date
2006-01-03  31.173681  31.239895  30.557888  31.067736  16296700
2006-01-04  30.842604  31.279618  30.756524  31.120702  17757900
2006-01-05  30.882326  31.008135  30.670441  30.842599  14970700
2006-01-06  30.835978  31.061106  30.690305  30.988270  12599800
2006-01-09  30.855852  31.100847  30.696939  30.935311  15619400

In [29]:
naver_data = web.DataReader('005930', 'naver', start='2006-01-01', end='2016-01-01')
naver_data.head()

             Open   High    Low  Close  Volume
Date
2006-01-02  13280  13360  13120  13180  419111
2006-01-03  13200  13320  13119  13300  358018
2006-01-04  13500  14000  13459  13980  785812
2006-01-05  13900  13900  13420  13580  710373
2006-01-06  13700  13759  13580  13740  353915

In [30]:
tickers = ['yf_data', 'naver_data']

In [37]:
yf_data = yf.download(tickers, start='2006-01-01', end='2016-01-01')

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/YF_DATA?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=YF_DATA&crumb=SEVlwtjBKhu
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/NAVER_DATA?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=NAVER_DATA&crumb=SEVlwtjBKhu
[*********************100%***********************]  2 of 2 completed

2 Failed downloads:
['YF_DATA', 'NAVER_DATA']: AttributeError("'NoneType' object has no attribute 'update'")

In [38]:
yf_data_reset = yf_data.reset_index()

In [39]:
naver_data = yf.download('005930.KS', start='2006-01-01', end='2016-01-01')
naver_data_reset = naver_data.reset_index()

[*********************100%***********************]  1 of 1 completed

In [40]:
bank_stocks = pd.concat([yf_data_reset, naver_data_reset], axis=1, keys=tickers)

In [41]:
print(bank_stocks.head())

       yf_data                                                           \
Price     Date  Adj Close              Close               High
Ticker         NAVER_DATA YF_DATA NAVER_DATA YF_DATA NAVER_DATA YF_DATA
0          NaT        NaN     NaN        NaN     NaN        NaN     NaN
1          NaT        NaN     NaN        NaN     NaN        NaN     NaN
2          NaT        NaN     NaN        NaN     NaN        NaN     NaN
3          NaT        NaN     NaN        NaN     NaN        NaN     NaN
4          NaT        NaN     NaN        NaN     NaN        NaN     NaN

                                                                naver_data  \
Price         Low               Open             Volume               Date
Ticker NAVER_DATA YF_DATA NAVER_DATA YF_DATA NAVER_DATA YF_DATA
0             NaN     NaN        NaN     NaN        NaN     NaN 2006-01-02
1             NaN     NaN        NaN     NaN        NaN     NaN 2006-01-03
2             NaN     NaN        NaN     NaN        NaN     NaN 2006-01-04
3             NaN     NaN        NaN     NaN        NaN     NaN 2006-01-05
4             NaN     NaN        NaN     NaN        NaN     NaN 2006-01-06


Price         Close          High          Low         Open    Volume
Ticker    005930.KS     005930.KS    005930.KS    005930.KS 005930.KS
0       9452.580078   9567.156806  9395.291714  9509.868442  16985900
1       9509.869141   9538.513325  9395.292404  9452.580772  17385550
2       9982.500000  10025.466284  9638.769727  9667.413917  38604500
3       9724.702148   9953.855660  9610.125393  9953.855660  25783750
4       9796.315430   9853.603824  9724.704937  9810.637528  17394550

In [44]:
print(bank_stocks.columns.nlevels)

3

In [45]:
bank_stocks.columns.names = ['Ticker', 'Date', 'Stock Info']

print(bank_stocks.head())

In [46]:
print(bank_stocks.head())

Ticker     yf_data                                                           \
Date          Date  Adj Close              Close               High
Stock Info         NAVER_DATA YF_DATA NAVER_DATA YF_DATA NAVER_DATA YF_DATA
0              NaT        NaN     NaN        NaN     NaN        NaN     NaN
1              NaT        NaN     NaN        NaN     NaN        NaN     NaN
2              NaT        NaN     NaN        NaN     NaN        NaN     NaN
3              NaT        NaN     NaN        NaN     NaN        NaN     NaN
4              NaT        NaN     NaN        NaN     NaN        NaN     NaN

Ticker                                                               \
Date              Low               Open             Volume
Stock Info NAVER_DATA YF_DATA NAVER_DATA YF_DATA NAVER_DATA YF_DATA
0                 NaN     NaN        NaN     NaN        NaN     NaN
1                 NaN     NaN        NaN     NaN        NaN     NaN
2                 NaN     NaN        NaN     NaN        NaN     NaN
3                 NaN     NaN        NaN     NaN        NaN     NaN
4                 NaN     NaN        NaN     NaN        NaN     NaN

Ticker     naver_data                                                       \
Date             Date        Close          High          Low         Open
Stock Info               005930.KS     005930.KS    005930.KS    005930.KS
0          2006-01-02  9452.580078   9567.156806  9395.291714  9509.868442
1          2006-01-03  9509.869141   9538.513325  9395.292404  9452.580772
2          2006-01-04  9982.500000  10025.466284  9638.769727  9667.413917
3          2006-01-05  9724.702148   9953.855660  9610.125393  9953.855660
4          2006-01-06  9796.315430   9853.603824  9724.704937  9810.637528

Ticker
Date          Volume
Stock Info 005930.KS
0           16985900
1           17385550
2           38604500
3           25783750
4           17394550